.headerTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  margin-bottom: 24px;
}

.createdTasks,
.finishedTasks {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  font-weight: 700;
}

.createdTasks {
  color: var(--blue);
}

.createdTasks span,
.finishedTasks span {
  color: var(--gray-200);
  font-size: 0.75rem;
  border-radius: 8px;
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
}

.finishedTasks {
  color: var(--purple);
}
